/* scss/examples/_a_links.scss */
a:link, a:visited {
  color: hotpink;
  text-decoration: none; }
a:active, a:focus, a:hover {
  text-decoration: underline; }

/* scss/examples/_b_button.scss */
/* scss/examples/_c_item.scss */
/* scss/examples/_d_item_ipsum.scss */
/* scss/examples/_e_layout.scss */
/* scss/examples/_f_page.scss */
/* scss/jsExample/_clickme.scss */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left .25s;
  background: #eee;
  padding: 20px 40px;
  display: inline-block; }

.clickAnimate {
  left: 80%; }
